# ========================
# Compilación / JVM
# ========================
*.class
*.log
hs_err_pid*

# ========================
# sbt
# ========================
target/
project/target/
project/project/

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml

# ========================
# BSP / Metals
# ========================
.bsp/
.metals/
.bloop/

# ========================
# Sistema
# ========================
.DS_Store
Thumbs.db
